Integration Airtable.blueprint.json
{
    "name": "Integration Airtable",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "apphU1kDEeazEBEUh",
                "view": "",
                "table": "tblf41DX7SC2V82j2",
                "config": {
                    "labelField": "Company",
                    "triggerField": "Created on"
                },
                "formula": "{Qualification} = \"qualified\"",
                "maxRecords": 10,
                "__IMTCONN__": 9563065,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "Lead Base"
                        },
                        "view": {
                            "label": "Empty"
                        },
                        "table": {
                            "label": "Lead Contacts"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "Company"
                                },
                                "triggerField": {
                                    "label": "Created on"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "First Name",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "Last Name",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Phone Number",
                        "type": "text",
                        "label": "Phone Number"
                    },
                    {
                        "name": "Company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "Budget",
                        "type": "number",
                        "label": "Budget"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "Created on",
                        "type": "date",
                        "label": "Created on"
                    },
                    {
                        "name": "Qualification",
                        "type": "text",
                        "label": "Qualification"
                    },
                    {
                        "name": "AI Message",
                        "type": "text",
                        "label": "AI Message"
                    },
                    {
                        "name": "Contacted on",
                        "time": false,
                        "type": "date",
                        "label": "Contacted on"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 9565226
                            },
                            "mapper": {
                                "to": [
                                    "{{1.Email}}"
                                ],
                                "content": "Hey {{1.`First Name`}}.\nWe got your request for help with {{1.Company}} and I'd love to discuss your goals soon. Please feel free to book a call with me here: https://calendly.com/rajbhartendu7/intro-call",
                                "subject": "{{1.`First Name`}}, let's talk about your goals.",
                                "bodyType": "rawHtml"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "My Gmail connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address"
                                        },
                                        "type": "array",
                                        "label": "CC recipients"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address"
                                        },
                                        "type": "array",
                                        "label": "BCC recipients"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 9563065
                            },
                            "mapper": {
                                "id": "{{1.id}}",
                                "base": "apphU1kDEeazEBEUh",
                                "table": "tblf41DX7SC2V82j2",
                                "record": {
                                    "fldoN3XBBUct3VPPI": "{{now}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Lead Base"
                                        },
                                        "table": {
                                            "label": "Lead Contacts"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldzg06rthMmKuHic": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "My Airtable Token or Key connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "flde2yw1zmDMeG8Ge",
                                                "type": "text",
                                                "label": "First Name"
                                            },
                                            {
                                                "name": "fldqmejuJ44prAr6M",
                                                "type": "text",
                                                "label": "Last Name"
                                            },
                                            {
                                                "name": "fld6spfDHmfxerFeO",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldqcQlRzaaf1Bf7j",
                                                "type": "text",
                                                "label": "Phone Number"
                                            },
                                            {
                                                "name": "fldfMeSxMBy1NHwRT",
                                                "type": "text",
                                                "label": "Company"
                                            },
                                            {
                                                "name": "fldqLQDrQApjcNVxZ",
                                                "type": "number",
                                                "label": "Budget"
                                            },
                                            {
                                                "name": "fldMtovyLdiGB0yGR",
                                                "type": "text",
                                                "label": "Notes"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldzg06rthMmKuHic",
                                                "type": "select",
                                                "label": "Qualification"
                                            },
                                            {
                                                "name": "fldoN3XBBUct3VPPI",
                                                "time": false,
                                                "type": "date",
                                                "label": "Contacted on"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "First Name",
                                        "type": "text",
                                        "label": "First Name"
                                    },
                                    {
                                        "name": "Last Name",
                                        "type": "text",
                                        "label": "Last Name"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Phone Number",
                                        "type": "text",
                                        "label": "Phone Number"
                                    },
                                    {
                                        "name": "Company",
                                        "type": "text",
                                        "label": "Company"
                                    },
                                    {
                                        "name": "Budget",
                                        "type": "number",
                                        "label": "Budget"
                                    },
                                    {
                                        "name": "Notes",
                                        "type": "text",
                                        "label": "Notes",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Created on",
                                        "type": "date",
                                        "label": "Created on"
                                    },
                                    {
                                        "name": "Qualification",
                                        "type": "text",
                                        "label": "Qualification"
                                    },
                                    {
                                        "name": "AI Message",
                                        "type": "text",
                                        "label": "AI Message"
                                    },
                                    {
                                        "name": "Contacted on",
                                        "time": false,
                                        "type": "date",
                                        "label": "Contacted on"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 9565226
                            },
                            "mapper": {
                                "to": [
                                    "sales@make.com"
                                ],
                                "content": "Please follow up with {{1.`First Name`}} from {{1.Company}}. {{1.`AI Message`}}",
                                "subject": "New qualified lead: {{1.Company}}",
                                "bodyType": "rawHtml"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "My Gmail connection (rajbhartendu7@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address"
                                        },
                                        "type": "array",
                                        "label": "CC recipients"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address"
                                        },
                                        "type": "array",
                                        "label": "BCC recipients"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}